html::before { 
  box-sizing: inherit;}

/* ================= NAVBAR ================= */
  
 .navbar {display: flex;
flex-wrap: wrap;
justify-content: center;
  background: rgba(250,250,250, 0);}

.navbar-brand {text-indent:-99999px; line-height: 0 ; visibility: hidden}

.navbar .nav-link {text-align:center ; color: #ffffff02 !important ; text-shadow:  0 0 20px #3B0058}
.nav-item {display: none}

#header .navbar-notifications-group .btn {display: none}

#header a:hover {
color:#fff !important;
text-shadow: 0 0 .4rem #3B0058;
}

.navbar .dropdown-menu {
background-color:#460097 
}

#header .dropdown-menu a:hover {
color:#fff !important;
background-color:transparent;
}

.dropdown-header {
color:#fff !important;
font-family:'Chonburi',serif;
}

/* ================= GENERAL STUFF ================= */

body {
  background-image:url("https://images.unsplash.com/photo-1592930954854-7d00c87d0cf4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size:cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  color:white;
  font-weight: 600
  }

  .text {color: #000 !important}

.btn-primary, .link-primary, .bg-primary {background-color: #3B0058 !important ; color: #fff !important ; border: 0px ; text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000 !important}
.text-primary {color: #3B0058 !important}
.btn-secondary, .link-secondary {background-color:rgba(124, 0, 0, 0.5) !important ; color: #fff !important ; border: 0px !important}
.btn-success, .link-sucess {background-color:rgba(124, 0, 0, 0.5) !important ; color: #fff !important ; border: 0px !important}
.btn-info, .link-info {background-color:rgba(124, 0, 0, 0.5) !important ; color: #fff !important ; border: 0px !important}

h1, h2, h3, h4 {
    color: #3B0058 !important;
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff !important}
hr {color: rgb(70 0 151 / 0.5) !important; border: 1px dashed !important}

a, .page-link, .btn-outline-primary, .btn-link {color: #c091d6 ; transition-duration: .4s !important}
a:hover  {color: #460097 !important}

/*.text-muted {color: rgba(255,255,255,0.7) !important}*/

.footer {display:none}


/* ================= ANIMATIONS ================== */

.fade-in {animation: Fade ease 3s;}
@keyframes Fade {0% {opacity:0} 100% {opacity:1}}

.fade-bottom {animation: FadeBottom ease 3s;}
@keyframes FadeBottom {0% {opacity:0; top: -2rem} 100% {opacity:1;top:0}}

.fade-right {animation: FadeRight ease 3s;}
@keyframes FadeRight {0% {opacity:0; right: -2rem} 100% {opacity:1;right:0}}

.zoom {animation: Zoom 2s ; transition: transform .2s;}
.zoom:hover {transform: scale(1.05, 1.05)}

.zoom-tilt {transition: transform .2s;}
.zoom-tilt:hover {transform: scale(1.02,1.02) rotate(2deg);}

.zoom-tilt-left {transition: transform .2s;}
.zoom-tilt-left:hover {transform: scale(1.02,1.02) rotate(-2deg);}


.slideright {
    position: relative;
    width: 100%;
}

.overlay-right {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0%;
    background-color: #fff;
    overflow: hidden;
    width: 55%;
    height: 100%;
    transition: 1s ease;
}

.slideright:hover .overlay-right {
    width: 100%;
    left: -100% ;
    opacity: 0%
}

.sliderighttext {
    color: #3B0058;
    font-size: 46px;
    font-family: Courier New;
    font-weight: bolder;
    text-transform: uppercase ; 
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

/* Left */
.slideleft {
    position: relative;
    width: 100%;
}

.overlay-left {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 55%;
    height: 100%;
    transition: 1s ease;
}

.slideleft:hover .overlay-left {
    width: 100%;
    left: 100% ;
    opacity: 0%
}

.slidelefttext {
    color: #7c0000;
    font-size: 40px;
    font-family: Courier New;
    font-weight: bolder;
    text-transform: uppercase ; 
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

/* Top */
.slidetop {
    position: relative;
    width: 100%;
}

.overlay-top {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 55%;
    height: 100%;
    transition: 1s ease;
}

.slidetop:hover .overlay-top {
    width: 100%;
    top: 100% ;
    opacity: 0%
}

.slidetoptext {
    color: #7c0000;
    font-size: 40px;
    font-family: Courier New;
    font-weight: bolder;
    text-transform: uppercase ; 
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
  
.rock:hover {animation: Rock ease .3s; animation-iteration-count: infinite;}
@keyframes Rock {0% {transform:rotate(-5deg)} 50% {transform:rotate(10deg)} 100% {transform:rotate(-5deg)}